:root {
    --st-accent-1: 244, 219, 214;
    --st-accent-2: 240, 198, 198;
    --st-background: 30, 32, 48;
    --st-red: 237, 135, 150;
    --st-red-hover: 238, 153, 160;
    --st-green: 139, 213, 202;
    --st-green-hover: 166, 218, 149;
    --st-yellow: 238, 212, 159;
    --st-yellow-hover: 245, 169, 127;
    --st-blue: 125, 196, 228;
    --st-blue-hover: 138, 173, 244;
    --st-color-1: 36, 39, 58;
    --st-color-2: 54, 58, 79;
    --st-color-3: 73, 77, 100;
    --st-color-4: 91, 96, 120;
    --st-color-5: 183, 189, 248;
    --st-color-6: 202, 211, 245;
}
